body {
    background-color: #787e91;
    color: #fff;
    font-family: 'Knewave', 'Tahoma';  
    margin-top: 0;
    
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    cursor: default;
}

#displayScore {
    position: absolute;
    left: 571px;
    top: 20px;
    color: black;
}

#roundResults, #gameResults {
    text-align: center;
}

p{
    text-align: center;
    font-family:"Chelsea Market", cursive;
    cursor: default;
}

button { 
    font-family:"Chelsea Market", cursive;
    cursor: pointer;
}

#gameBackground {
    position: relative;
    display:block;
    margin: auto;
    width: 1200px;
    height: 600px;
    background-color: lightskyblue;
    border: 3px solid black;
    color: black;
    text-align: center;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;

}

#HUD {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin:2px auto;
    
}

#left, #right, #middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -2px;
    justify-content: flex-start;
}

h3 {
    margin: 0 auto;
    font-family:"Chelsea Market", cursive;
    cursor: default;
}

#leftText {
    margin-left: 35px;
}

#rightText {
    margin-right: 30px;
}

#leftHealthBar, #rightHealthBar {
    background-color: red;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    position: relative;
}

#leftHealthBar {
    margin-left: 35px;
}

#rightHealthBar {
    margin-right: 30px;
}

@keyframes healthLost {
    0% {width: 20%;}
    100% {width: 0%;}
}

.healthLostAnimation {
    animation: healthLost 1.0s forwards;
}

#leftHealthSection5 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 80%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#leftHealthSection4 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 60%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#leftHealthSection3 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 40%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#leftHealthSection2 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 20%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#leftHealthSection1 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 20%;
}

#rightHealthSection5 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 80%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#rightHealthSection4 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 60%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#rightHealthSection3 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 40%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#rightHealthSection2 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 20%;
    margin: 0;
    height: 100%;
    width: 20%;
}

#rightHealthSection1 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 20%;
}



.gameButton {
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: rgb(83, 83, 83);
    border: 1px solid #000;
}

.gameButton:hover {
    background-color: gray;
    transform: scale(1.1); 
}

#btns{
    display: flex;
    gap: 10px;
}

.hide {
    display: none;
    
}

#endButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#resetButton {
    position: absolute;
    top: 350px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    border: 2px solid black;
    line-height: 1em;
    opacity: 0;
    animation: appear 3s 500ms forwards;
}

#resetButtonText{
    cursor: pointer;
}

#gameOverText {
    position: absolute;
    top: 200px;
    color: white;
    font-size: 50px;
}

@keyframes BigtoSmall {
    0% {
        font-size: 200px;
    }
    100% {
        font-size: 100px;
    }
}

#gameResults {
    position: absolute;
    top: 150px;
    color: white;
    animation: BigtoSmall 1.5s forwards;
    margin: auto 100px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    animation: appear 1s forwards;
    overflow: hidden;
}

#userRock, #userPaper, #userScissors {
    position: absolute;
    top: 150px;
    left: 300px;
    opacity: 0;
}

#computerRock, #computerPaper, #computerScissors {
    position: absolute;
    top: 150px;
    right: 300px;
    opacity: 0;
}
.win{
    animation: Win 1.25s forwards;
}
@keyframes Win {
    0%{
        opacity: 1;
    }
    15%{
        opacity: 1;
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.5);
    }
    90%{
        transform: scale(1.0);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loss{
    animation: Loss 1.25s forwards;
}

@keyframes Loss {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*display changes for mobile phones with a max width of 900px*/
@media only screen and (max-width: 900px){
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 12px;
    }
    #gameBackground{
        display: flex;
        width: 350px;
        height: 175px;
        
    }

    #displayScore{
        width: 50px;
        position: absolute;
        left: 150px;
        top: 1px;
    }

    #leftHealthBar, #rightHealthBar{
        width: 50px;
    }

    .gameButton{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }

    .gameButtonImage{
        width: 45px;
        height: 45px;
    }

    #gameButton{
        margin: auto;
    }

    #HUD{
        width: 350px;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 2px auto;
        gap: 23px;
    }

    #leftHealthBar{
        margin-left: 0;
    }

    #left{
        display: flex;
        margin-left: 8px;
        
    }

    #leftText{
        margin: 0 auto;
    }

    #rightHealthBar{
        margin-right: 0;
    }

    #right{
        display: flex;
        
    }

    #rightText{
        margin-right: 0;
    }

    .choiceDisplayImage{
        width: 60px;
        height: 60px;
    }

    #userRock, #userPaper, #userScissors {
        
        position: absolute;
        top: 35px;
        left: 80px;
        opacity: 0;
    }
    
    #computerRock, #computerPaper, #computerScissors {
        position: absolute;
        top: 35px;
        right: 80px;
        opacity: 0;
    }

    #gameResults{
        position: absolute;
        top: 35px;
        width:1000px;
    }

    @keyframes BigtoSmall {
        0% {
            font-size: 200px;
        }
        100% {
            font-size: 35px;
        }
    }

    #resetButton{
        position: absolute;
        top: 100px;
        width: 100px;
        height: 35px;
    }
    
}